.FooterAdd{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: linear-gradient(to top, #f0efeb 85%, #f0efeb00);
    padding: 15px;
    border: none;
    &__Cancel{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        transition: .3s all;
        box-shadow: 1.5px 1.5px 3px .5px rgb(189, 189, 189),
                    -1.5px -1.5px 3px .5px white;
        p{
            color: black;
            font-size: 15px;
            font-family: 'Noto Sans JP', sans-serif;
            padding: 0;
        }
    }
    &__Cancel:hover{
        transform: scale(1.1);
    }
    &__Save{
        width: 140px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        border: none;
        transition: .3s all;
        background: linear-gradient(to top,#f67550,#eea96f);
        box-shadow: 1px 1px 4px .5px rgb(175, 175, 175);
        cursor: pointer;
        p{
            color: white;
            font-size: 20px;
            font-family: 'Noto Sans JP', sans-serif;
            padding: 0;
        }
    }
    &__Save:hover{
        transform: scale(1.1);
    }
}
@media screen and (min-width: 768px){
    .FooterAdd{
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}