.NoTask{
    text-align: center;
    img{
        width: 100%;
        max-width: 200px;
        margin-bottom: 30px;
    }
    h3{
        font-size: 20px;
        color: #e28a37;
        font-family: 'Roboto Mono', monospace;
    }
    p{
        font-size: 16px;
        margin-top: 10px;
    }
}